<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <main>
        <section>
            <img class="logo" src="{% static 'images/whitelogo.png' %}" alt="Spotify Wrapped Logo">
            <p>Find out your top artists, tracks, and more!</p>
            <a href="{% url 'login' %}" class="btn">Log in to Get Started</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Spotify Wrapped</p>
    </footer>
</body>
</html>