<html>
<title>Spotify Wrapped Home</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/userauth.css' %}"> <!-- Link to your CSS file -->
</head>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <label for="timeframe">Select Timeframe:</label>
    <select name="timeframe" id="timeframe" required>
        <option value=null>Select</option>
        <option value="long_term">All-time</option>
        <option value="medium_term">Last year</option>
        <option value="short_term">Last month</option>
    </select>
    <button type="submit">Generate Wrap</button>
</form>
</html>