<html>
<head>
<title>Spotify Wrapped Home</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="flex-column">
  <section class="welcome welcomeSection">
    <div class="contentWrapper">
      <nav class="navbar">
        <img class="logo" src="{% static 'css/logo.png' %}" alt="Spotify Wrapped Logo"/>
        <a class="home" href="{% url 'index' %}">Home</a>
        <a class="contact" href="{% url 'contact' %}">Contact the Developers</a>
      </nav>
      <div class="actionContainer">
        <p class="welcomeText">Welcome to Spotify Wrapped!</p>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <label for="timeframe">Select Timeframe:</label>
    <select class="timeFrameBtn" name="timeframe" id="timeframe" required>
        <option value="long_term">All-time</option>
        <option value="medium_term">Last year</option>
        <option value="short_term">Last month</option>
    </select>
    <button class="generateBtn" type="submit">Generate Wrapped</button>
</form>
</div>
</div>
</section>
    <button id="shareWrappedBtn" onclick="shareWrapped()">Share My Wrapped</button>
   <script>
    function shareWrapped() {
        const shareLink = "http://localhost:2340/app/wraps/";  // Directly specify the correct URL
        navigator.clipboard.writeText(shareLink).then(() => {
            alert("Link copied to clipboard! Share it on social media.");
        });
    }
</script>
</body>
</html>
