/* contact.css */
a {
    color: black;
    text-decoration: underline;
}
body {
    justify-content: center;
    min-height: 100vh;
    font-family: Georama, Helvetica, Arial, serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .developer-info {
    text-align: center;
  }
  
  .developer-info, .contact-form {
    width: 90%;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
  }
  
  .developer-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .developer-info li {
    margin: 10px 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .contact-form input, .contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(30, 215, 96);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: rgb(30 215 96);
  }
  

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%
}

.headerBar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px; /* Larger padding for a taller navbar */
  background-color: #ffffff; /* Background color to span entire top */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
}

.headerLeft, .headerRight {
  display: flex;
  align-items: center;
}


.headerBar img.logoImg {
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.headerLink {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.headerLink:hover {
  color: #1db954; /* Spotify green */
}
.profileIcon {
  position: fixed; /* Fixes the position relative to the viewport */
  top: 10px; /* Distance from the top of the screen */
  right: 10px; /* Distance from the right edge of the screen */
  width: 50px; /* Adjust size as needed */
  height: 50px;
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 50%; /* Makes the image circular */
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
