
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%
}

.contentWrapper {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 40px; /* Larger padding for a taller navbar */
    background-color: #ffffff; /* Background color to span entire top */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

a img {
    margin-left: 1200px;
    height: 50px;
    float: right;
}

.navbar a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcomeText {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

.timeFrameBtn {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 50px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}

.generateBtn {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #1db954;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.generateBtn:hover {
    background-color: #1aa34a;
}

.share-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1DB954; /* Spotify green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.share-button:hover {
    background-color: #1aa34a;
}