

{% extends "base.html" %}

{% block content %}
<div class="confirmation-container">
    <h1>Are you sure you want to delete your account?</h1>
    <h1>All your data, including Spotify Wraps, will be permanently deleted. This action cannot be undone.</h1>
    <div class="button-container">
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger deleteBtn">Yes, delete my account</button>
    </form>
    <a href="{% url 'index' %}" class="btn btn-danger cancelBtn">Cancel</a>
</div>
</div>
{% endblock %}
