<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Your Spotify Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/userauth.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>Login with Spotify</h1>
        <a href="{% url 'social:begin' 'spotify' %}" class="btn">Login with Spotify</a>
        <!-- Add any additional information or links if necessary -->
    </div>
</body>
</html>